{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST">
  <h1 align="center" style="margin-top: 20px">Submit wallet</h1>
  <div class="submit-box">
    <div class="form-group">
      <label for="address">Wallet Address</label>
      <input
        type="address"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter your wallet address"
      />
    </div>
    <div class="form-group">
      <label for="balance">Wallet Balance</label>
      <input
        type="balance"
        class="form-control"
        id="balance"
        name="balance"
        placeholder="Enter your wallet balance"
      />
    </div>
    <div class="form-group">
      <label for="token">Token</label> <br />
      <select name="token" id="token">
        <option value="usdc">USDC</option>
        <option value="eth">ETH</option>
        <option value="btc">BTC</option>
        <option value="weth">WETH</option>
        <option value="bnb">BNB</option>
        <option value="was">WAS</option>
        <option value="ape">APE</option>
      </select>
    </div>
    <div class="form-group">
      <label for="network">Network</label> <br />
      <select name="network" id="network">
        <option value="ETH Mainnet">ETH Mainnet</option>
        <option value="BRC-20">BRC-20</option>
        <option value="Polygon">Polygon</option>
        <option value="BNB Smart Chain">BNB Smart Chain Mainnet</option>
        <option value="Arbitrum">Arbitrum One</option>
        <option value="Optimism">Optimism</option>
      </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
{% endblock %}
