{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST" class="form">
  <h3 align="center" style="margin-top: 20px">Submit wallet</h3>
  <div class="submit-box">
    <div class="form-group">
      <label for="address">Wallet Address</label>
      <input
        type="address"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter your wallet address" />
    </div>
    <div class="form-group">
      <label for="balance">Wallet Balance</label>
      <input
        type="balance"
        class="form-control"
        id="balance"
        name="balance"
        placeholder="Enter your wallet balance" />
    </div>
    <div class="outter-menu">
      <div class="select-menu">
        <div class="select-btn">
          <span class="sBtn-text">Token</span>
          <i class="bx bx-chevron-down"></i>
        </div>
        <ul class="options">
          <li class="option">
            <span class="option-text">BTC</span>
          </li>
          <li class="option">
            <span class="option-text">ETH</span>
          </li>
          <li class="option">
            <span class="option-text">USDC</span>
          </li>
          <li class="option">
            <span class="option-text">ARB</span>
          </li>
          <li class="option">
            <span class="option-text">BNB</span>
          </li>
          <li class="option">
            <span class="option-text">SOL</span>
          </li>
        </ul>
        <input type="hidden" name="token" id="selectedToken" />
      </div>
      <div class="select-menu-2">
        <div class="select-btn">
          <span class="sBtn-text">Network</span>
          <i class="bx bx-chevron-down"></i>
        </div>
        <ul class="options">
          <li class="option">
            <span class="option-text">ETH Mainnet</span>
          </li>
          <li class="option">
            <span class="option-text">Arbitrum</span>
          </li>
          <li class="option">
            <span class="option-text">Polygon</span>
          </li>
          <li class="option">
            <span class="option-text">BRC-20</span>
          </li>
          <li class="option">
            <span class="option-text">BNB Smart Chain</span>
          </li>
        </ul>
        <input type="hidden" name="network" id="selectedNetwork" />
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary center-button">Add</button>
  </div>
</form>
{% endblock %}
